<!-- list -->
<div id="aside-user" class="clearfix hidden-xs text-center hide">
      <div dropdown="" class="dropdown wrapper">
        <a ui-sref="profile" href="profile">
          <span class="thumb-lg w-auto-folded avatar m-t-sm">
            <img alt="..." class="img-full" src="../../assets/img/a0.jpg">
          </span>
        </a>
        <a dropdown-toggle="" class="dropdown-toggle hidden-folded" href="" aria-haspopup="true" aria-expanded="false">
          <span class="clear">
            <span class="block m-t-sm">
              <strong class="font-bold text-lt">{{userInfo.name}} {{userInfo.surname}}</strong> 
              <b class="caret"></b>
            </span>
            <span class="text-muted text-xs block">{{userInfo.position.name}}</span>
          </span>
        </a>
        <!-- dropdown -->
        <!-- <ul class="dropdown-menu animated fadeInRight w hidden-folded">
          <li>
            <a href="">Settings</a>
          </li>
          <li>
            <a ui-sref="app.page.profile" href="#/app/page/profile">Profile</a>
          </li>
          <li>
            <a href="">
              <span class="badge bg-danger pull-right">3</span>
              Notifications
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ui-sref="access.signin" href="#/access/signin">Logout</a>
          </li>
        </ul> -->
        <!-- / dropdown -->
      </div>
      <div class="line dk hidden-folded"></div>
    </div>
    
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"></li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Доктор</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Доктор</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="hr_manager.doctor.list">Список докторов</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="hr_manager.doctor.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li> 
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Секретарь</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Секретарь</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="hr_manager.secretary.list">Список секретарей</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="hr_manager.secretary.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li> 
    <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-tint icon text-info"></i>
      <span class="font-bold ptsans">Сотрудник</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>Сотрудник</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="hr_manager.staff.list">Список сотрудников</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="hr_manager.staff.add">
          <b class="label bg-info pull-right">+</b>
          <span>Добавить новый</span>
        </a>
      </li>
    </ul>
  </li> 
</ul>
<!-- / list -->
