<div ng-controller="SecretaryEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Изменить</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				          	
						<div class="row">
						    <div class="col-sm-9">
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Фамилия</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="secretary.surname">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Имя</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="secretary.name">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Отчество</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="secretary.middleName">
					              </div>
					            </div>
					            
					            
					            <div class="form-group">
						          <label class="col-lg-3 control-label">Дата рождения</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
											 <input ng-model="secretary.birthDate" type="text" class="form-control" datepicker-popup="{{commondatepicker.format}}" ng-model="dt" 
											 		is-open="commondatepicker.opened1" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" 
											 		ng-required="true" close-text="Close" />
										    <span class="input-group-btn">
										   		<button type="button" class="btn btn-default" ng-click="commondatepicker.open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
										   	</span>
									   	</p>
									</div>
						         </div>
						         
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Адрес</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="secretary.address">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Мобильный номер</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="secretary.mobilePhone">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Домашний номер</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="secretary.homeNumber">
					              </div>
					            </div>
			            
				            <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					                <a class="btn btn-sm btn-danger" ui-sref="ceo.doctor.list">Отмена</a>
					              </div>
					        </div>						          	
						    </div>				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
