<style>
#nakltable{
	border-spacing:0px !important;
	border: 1px solid green !important;
	border-collapse: none !important;
}
#nakl>tbody>tr>th, #nakl>tbody>tr>td{
	border: 1px solid green !important;
}
#naklHead{
	border: 1px solid green !important;
}
</style>
<div ng-controller="AppointmentAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Добавить</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				          	
						      <div class="row">
						       <div class="col-sm-6">
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Доктор</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.doctor.id" ng-change="getTimePeroids()" ng-required="true" class="form-control" select>
							              	<option value="">Выберите...</option>
							                <option ng-repeat="doctor in doctors" ng-value="doctor.id" ng-required="true">{{doctor.name+" "+doctor.surname}}</option>
							           </select> 
					               </div>
					            </div>
					            <br>
					             <div class="form-group">
						          <label class="col-lg-3 control-label">Дата</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
										 <input ng-model="appointment.date" ng-change="getTimePeroids()" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" 
										 		is-open="commondatepicker.opened1" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="datepicker.dateOptions" 
										 		ng-required="true" close-text="Close" />
								    	<span class="input-group-btn">
								      		<button type="button" class="btn btn-default"ng-click="commondatepicker.open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
								    	</span>
									  	</p>
									</div>
						          </div>
					             <br>
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Медицинская карта</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.medicalCard.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="medical_card in medical_cards" ng-value="medical_card.id" ng-required="true">{{medical_card.patient.name +" "+medical_card.patient.surname}}</option>
						           </select> 
					               </div>
					            </div>
					             <br>
					             <div class="form-group">
					              <label class="col-lg-3 control-label">Период времени</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.timePeriod.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="time_period in time_periods" ng-value="time_period.id" ng-required="true">{{time_period.startHour+"  -  "+time_period.endHour}}</option>
						           </select> 
					               </div>
					            </div>
					             <br>
					           <!--  <div class="form-group">
					              <label class="col-lg-3 control-label">Заканчивается</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.timePeriod" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="time_period in time_periods" ng-value="time_period.id" ng-required="true">{{appointment.time_period}}</option>
						           </select> 
					               </div>
					            </div> -->
					            
					           
					            
					            
					             <br>
				            <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					              </div>
					        </div>						          	
						    </div>
						    
						    <!-- <div class="col-sm-6">
						      <div class="panel panel-default">
						        <div class="panel-heading font-bold">Добавить новый договор</div>
						        <div class="panel-body" id="print">				            
						            <table ng-model="appointment.timePeriod" class="table table-striped m-b-none" id="nakl" style="border-spacing: 0px;  width:600px" show-filter="false">
						            	<tr ng-repeat="time_period in time_periods">
						            		<td style="border: 1px solid green !important; padding: 8px 12px;"><b>{{time_period.startHour+"  -  "+time_period.endHour}}</b></td>
						            		<td style="border: 1px solid green !important; padding: 8px 12px;">{{agdreement.agreementNumber}}</td>
						            	</tr>
						            	
						            	
						            </table>
						        </div>
						      </div>
				    		</div> -->
						    
						    				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>