<div ng-controller="AppointmentEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Изменить пациента</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				          	
						<div class="row">
						    <div class="col-sm-6">
						    
					        
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Доктор</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.doctor.id" ng-required="true" class="form-control" >
						              	<option value="">Выберите...</option>
						                <option  ng-repeat="doctor in doctors" ng-selected="appointment.doctor.id == doctor.id" value="{{doctor.id}}" ng-required="true">{{doctor.name+" "+doctor.surname}}</option>
						           </select> 
					               </div>
					            </div>
					            <br>
					             <div class="form-group">
						          <label class="col-lg-3 control-label">Дата</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
										 <input ng-model="appointment.date" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="dt" 
										 		is-open="commondatepicker.opened1" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" 
										 		ng-required="true" close-text="Close" />
								    	<span class="input-group-btn">
								      		<button type="button" class="btn btn-default"ng-click="commondatepicker.open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
								    	</span>
									  	</p>
									</div>
						          </div>
					             <br>
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Медицинская карта</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.medicalCard.id" ng-required="true" class="form-control" >
						              	<option value="">Выберите...</option>
						                <option  ng-repeat="medical_card in medical_cards" ng-selected="appointment.medicalCard.id == medical_card.id" value="{{medical_card.id}}" ng-required="true">{{medical_card.patient.name}} {{medical_card.patient.surname}}</option>
						           </select> 
					               </div>
					            </div>
					             <br>
					             <div class="form-group">
					              <label class="col-lg-3 control-label">Период времени</label>
					               <div class='col-lg-9'>
					               		<select ng-model="appointment.timePeriod.id" ng-required="true" class="form-control" >
						              	<option value="">Выберите...</option>
						                <option ng-repeat="time_period in timePeriods" ng-selected="appointment.timePeriod.id == time_period.id" value="{{time_period.id}}" ng-required="true">{{time_period.startHour+"  -  "+time_period.endHour}}</option>
						           </select> 
					               </div>
					            </div>
					            
				            <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					              </div>
					        </div>						          	
						    </div>				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
