<div ng-controller="AppointmentViewCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Информация пациента</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				          	
						<div class="row">
						    <div class="col-sm-6">
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Фамилия</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="appointment.medicalCard.patient.surname" disabled>
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Имя</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" ng-required="true" class="form-control" ng-model="appointment.medicalCard.patient.name" value="medicalCard.patient.name" disabled>
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Отчество</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="appointment.medicalCard.patient.middleName" disabled>
					              </div>
					            </div>
					            
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Мобильный телефон</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="appointment.medicalCard.patient.mobilePhone"disabled>
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Домашний телефон</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="appointment.medicalCard.patient.homeNumber"disabled>
					              </div>
					            </div>
					          
				            </div>
						    <div class="col-sm-6">	
						    	<div class="form-group">
						          <label class="col-lg-3 control-label">Дата рождения</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
											 <input ng-model="appointment.medicalCard.patient.birthDate" type="text" class="form-control" datepicker-popup="{{commondatepicker.format}}" 
											 ng-model="dt" is-open="commondatepicker.opened" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" ng-required="true" close-text="Close" disabled/>
									    	<span class="input-group-btn">
									      		<button type="button" class="btn btn-default" ng-click="commondatepicker.open($event, 'opened')" disabled><i class="glyphicon glyphicon-calendar"></i></button>
									    	</span>
									  	</p>
									</div>
						          </div>
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Адрес</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="appointment.medicalCard.patient.address"disabled>
					              </div>
					            </div>
						 		<div class="form-group">
						          <label class="col-lg-3 control-label">Тип карты</label>
						            <div class="col-lg-9"> 
						              <select ng-model="appointment.medicalCard.medicalCardType.id" ng-required="true" class="form-control" select disabled>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="medical_card_type in medical_card_types"
						                 ng-selected="appointment.medicalCard.medicalCardType.id == medical_card_type.id" 
						                ng-value="medical_card_type.id" ng-required="true">{{medical_card_type.name}}</option>
						              </select>  
						            </div>
						          </div>
						          
					            <div class="form-group">
	           						<label class="col-lg-3 control-label">Профиль карты</label>
		           					<div class="col-lg-9">
		            					<div class="checkbox">
						                  <select ng-model="appointment.medicalCard.medicalCardProfile.id" ng-required="true" class="form-control" select disabled>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="medical_card_profile in medical_card_profiles" 
						                 ng-selected="appointment.medicalCard.medicalCardProfile.id == medical_card_profile.id" 
						                 ng-value="medical_card_profile.id" ng-required="true">{{medical_card_profile.name}}</option>
						              </select> 
						                </div>
						             </div>
					         	</div>
					         	
					            
				           <!--  <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					              </div>
					        </div>		 -->				          	
						    </div>
						    </div>
						    
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>