
<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
	<button class="pull-right visible-xs dk" ui-toggle-class="show"
		data-target=".navbar-collapse">
		<i class="glyphicon glyphicon-cog"></i>
	</button>
	<button class="pull-right visible-xs" ui-toggle-class="off-screen"
		data-target=".app-aside" ui-scroll-to="app">
		<i class="glyphicon glyphicon-align-justify"></i>
	</button>
	<!-- brand -->
	<a href="#/" class="navbar-brand text-lt"> <i class="fa fa-btc"></i>
		<img src="../../assets/img/logo.png" alt="." class="hide"> <span
		class="hidden-folded m-l-xs"><!-- {{app.name}} -->Poliklinika</span>
	</a>
	<!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div
	class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
	<!-- buttons -->
	<div class="nav navbar-nav hidden-xs">
		<a href class="btn no-shadow navbar-btn"
			ng-click="app.settings.asideFolded = !app.settings.asideFolded">
			<i
			class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
		</a> 
		<a href class="navbar-brand navbar-right" ui-toggle-class="show"
			target="#aside-user"> 
		</a>
		<a target="#aside-user" ui-toggle-class="show" class="btn no-shadow navbar-btn" href="">
            <i class="icon-user fa-fw"></i>
        </a>
	</div>
	<!-- / buttons -->

	<!-- link and dropdown -->
	 
	<!-- / link and dropdown -->

	<!-- search form -->
<!-- 	 <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl"> -->
<!--           <div class="form-group"> -->
<!--             <div class="input-group"> -->
<!--               <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects..."> -->
<!--               <span class="input-group-btn"> -->
<!--                 <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button> -->
<!--               </span> -->
<!--             </div> -->
<!--           </div> -->
<!--         </form> -->
	<!-- / search form -->

<!-- 	<ul class="nav navbar-nav hidden-sm"> -->
<!-- 	 	  <li class="" ><a></a></li> -->
<!-- 	 	   <li class="" ><a ng-click="getPathAsRole()" class="text-lt" style="font-size: 20px; font-weight: 700; text-transform: uppercase ">{{getRoleInRussianFromPath(getPathAsRole())}}</a></li> -->
<!--           <li class="dropdown" dropdown> -->
<!--             <a href class="dropdown-toggle" dropdown-toggle> -->
<!--               <i class="fa fa-fw fa-plus visible-xs-inline-block"></i> -->
<!--               <span>Войти как</span> <span class="caret"></span> -->
<!--             </a> -->
<!--             <ul class="dropdown-menu" role="menu"> -->
<!--               <li ng-repeat="role in roles"><a href="/barbulak/apps/{{roleMapping[role].path}}" >{{roleMapping[role].russian}}</a></li> -->
<!--             </ul> -->
<!--           </li> -->
         
<!--         </ul>  -->

	<!-- nabar right -->
	<ul class="nav navbar-nav navbar-right">
		<!-- <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              {{selectLang}} <b class="caret"></b>
            </a>
            dropdown
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
              </li>
            </ul>
            / dropdown
          </li> -->
		<li class="hidden-xs">
            <a ui-fullscreen></a>
          </li> 
		<li class="dropdown" dropdown><a href
			class="dropdown-toggle clear" dropdown-toggle> <span
				class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
					<img src="../../assets/img/a0.jpg" alt="..."> <i
					class="on md b-white bottom"></i>
			</span> <span class="hidden-sm hidden-md">{{userInfo.name}} {{userInfo.surname}}</span> <b class="caret"></b>
		</a> <!-- dropdown -->
			<ul class="dropdown-menu animated fadeInRight w">
				<!-- <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                  <p>300mb of 500mb used</p>
                </div>
                <progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>
              </li> -->

				<li><a ui-sref="app.docs">О программе</a></li>
				<li><a ui-sref="app.docs">О разработчиках</a></li>
				<li><a ui-sref="app.docs">Добавать профиль</a></li>
				<li class="divider"></li>
				<li><a ng-click="logout()" href="javascript:void(0)">Выйти</a></li>
			</ul> <!-- / dropdown --></li>
	</ul>
	<!-- / navbar right -->

</div>
<!-- / navbar collapse -->

