<div ng-controller="WorkingHourEditCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Изменить </div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="update()">
				          	
						<div class="row">
						    <div class="col-sm-6">
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Доктор</label>
					               <div class='col-lg-9'>
					               		<select ng-model="workingHour.doctor.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="doctor in doctors" ng-selected="doctor.id == workingHour.doctor.id" value="{{doctor.id}}" ng-required="true">{{doctor.surname}} {{doctor.name}}</option>
						           </select> 
					               </div>
					            </div>
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Неделя</label>
					               <div class='col-lg-9'>
					               		<select ng-model="workingHour.weekDay.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="week_day in week_days" ng-selected="week_day.id == workingHour.weekDay.id" ng-value="week_day.id" ng-required="true">{{week_day.name}}</option>
						           </select> 
					               </div>
					            </div>
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Период</label>
					               <div class='col-lg-9'>
					               		<select ng-model="workingHour.timePeriod.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="time_period in time_periods" ng-selected="time_period.id == workingHour.timePeriod.id" ng-value="time_period.id" ng-required="true">{{time_period.startHour+" - "+time_period.endHour}}</option>
						           </select> 
					               </div>
					            </div>
					             <div class="form-group">
					              <label class="col-lg-3 control-label">Тип</label>
					               <div class='col-lg-9'>
					               		<select ng-model="workingHour.workingHourType.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="working_hour_type in working_hour_types" ng-selected="working_hour_types.id == workingHour.workingHourTypes.id" ng-value="working_hour_type.id" ng-required="true">{{working_hour_type.name}}</option>
						           </select> 
					               </div>
					            </div>
					            
				            <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					              </div>
					        </div>						          	
						    </div>				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>