<div ng-controller="GeneralCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				      <div class="panel panel-default" style="padding: 20px 5px">
				      	  <form ng-submit="save()">
				      	  	<div class="col-sm-12">
					      	  	<div class="col-sm-6" style="margin: 10px 0 20px 0">
						            <div class="form-group" >
						              <label class="col-lg-3 control-label">Доктор</label>
						               <div class='col-lg-9'>
						               		<select ng-model="doctorId">
				                           		<option ng-repeat="doctor in doctors" value="{{doctor.id}}">{{doctor.surname}} {{doctor.name}}</option>
				                           	</select>
						               </div>
						            </div>
						        </div>
						        <div class="col-sm-6"></div>
						    </div>
				      	  	<div class="clear"></div>
				      	    <div class="col-sm-12">
								<table class="table table-striped table-bordered" >
									<thead>
										<tr>
											<th>#</th>
											<th>Часы</th>
											<th>Понодельник</th>
											<th>Вторник</th>
											<th>Среда</th>
											<th>Четверг</th>
											<th>Пятница</th>
											<th>Суббота</th>
<!-- 											<th>Воскресение</th> -->
										</tr>
									</thead>
			                          <tr  ng-repeat="workingHourWeekly in workingHourWeeklies" >
			                          	<td data-title="'#'">{{$index + 1}}.</td>
			                          	
			                          	<td>{{workingHourWeeklies[$index].timePeriod.startHour}} - {{workingHourWeeklies[$index].timePeriod.endHour}}</td>
			                          	
			                            <td data-title="'Понодельник'" >
			                            	<select ng-model="workingHourWeeklies[$index].monday.workingHourType.id" style="width: 120px">
			                            		<option ng-selected="workingHourWeeklies[$parent.$index].monday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option>
			                            	</select>
			                            </td>
			                            
			                             <td data-title="'Вторник'" >
			                            	<select ng-model="workingHourWeeklies[$index].tuesday.workingHourType.id" style="width: 120px">
			                            		<option ng-selected="workingHourWeeklies[$parent.$index].tuesday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option>
			                            	</select>
			                            </td>
			                            
			                             <td data-title="'Среда'" >
			                            	<select ng-model="workingHourWeeklies[$index].wednesday.workingHourType.id" style="width: 120px">
			                            		<option ng-selected="workingHourWeeklies[$parent.$index].wednesday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option>
			                            	</select>
			                            </td>
			                            
			                             <td data-title="'Четверг'" >
			                            	<select ng-model="workingHourWeeklies[$index].thirsday.workingHourType.id" style="width: 120px">
			                            		<option ng-selected="workingHourWeeklies[$parent.$index].thirsday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option>
			                            	</select>
			                            </td>
			                            
			                             <td data-title="'Пятница'" >
			                            	<select ng-model="workingHourWeeklies[$index].friday.workingHourType.id" style="width: 120px">
			                            		<option ng-selected="workingHourWeeklies[$parent.$index].friday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option>
			                            	</select>
			                            </td>
			                            
			                             <td data-title="'Суббота'" >
			                            	<select ng-model="workingHourWeeklies[$index].saturday.workingHourType.id" style="width: 120px">
			                            		<option ng-selected="workingHourWeeklies[$parent.$index].saturday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option>
			                            	</select>
			                            </td>
			                            
<!-- 			                             <td data-title="'Воскресение'" > -->
<!-- 			                            	<select ng-model="workingHourWeeklies[$index].sunday.workingHourType.id" style="width: 120px"> -->
<!-- 			                            		<option ng-selected="workingHourWeeklies[$parent.$index].sunday.workingHourType.id == wht.id" ng-repeat="wht in workingHourTypes" ng-value="wht.id">{{wht.name | split}}</option> -->
<!-- 			                            	</select> -->
<!-- 			                            </td> -->
			                            
			                          </tr>
			                     </table>
			                 </div>
					         <button class="btn btn-sm btn-info" type="submit" style="float: right; margin: 20px">Сохранить</button>
					        <div class="clear" style="clear:both"></div>
		                   </form>
						</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>
