<div ng-controller="PatientListCtrl">
	<div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
				<div class="row">
					<div class="col-sm-12">
				      <div class="panel panel-default">
						<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped m-b-none dataTable" show-filter="true">
	                          <tr ng-repeat="mc in $data" ng-class="{odd: $odd, even: $even}">
	                          	<td data-title="'#'">{{$index + 1}}.</td>
	                            <td data-title="'Фамилия'" sortable="'patient.surname'" filter="{ 'patient.surname': 'text' }">{{mc.patient.surname}}</td>
	                            <td data-title="'Имя'" sortable="'patient.name'" filter="{ 'patient.name': 'text' }">{{mc.patient.name}}</td>
	                            <td data-title="'Отчество'" filter="{ 'patient.middleName': 'text' }">{{mc.patient.middleName}}</td>
	                            <td data-title="'Дата рождения'" sortable="'patient.birthDate'" class="text-center">{{mc.patient.birthDate |  date:'dd.MM.yyyy'}}</td>
	                            <td data-title="'Мобильный телефон'" sortable="'patient.mobilePhone'" filter="{ 'patient.mobilePhone': 'text' }" style="text-align:center;">{{mc.patient.mobilePhone}}</td>
	                            <td data-title="'Тип карты'" sortable="'medicalCardType.name'" filter="{ 'medicalCardType.name': 'text' }">{{mc.medicalCardType.name}}</td>
	                            <td data-title="'Профиль карты'" sortable="'medicalCardProfile.name'" filter="{ 'medicalCardProfile.name': 'text' }">{{mc.medicalCardProfile.name}}</td>
	                            <td data-title="'Номер карты'" sortable="'medCardNum'" filter="{ 'medCardNum': 'text' }"style="text-align:center;">{{mc.medCardNum}}</td> 
	                            <td data-title="'Дата активации'" sortable="'activatedDate'" class="text-center">{{mc.activatedDate |  date:'dd.MM.yyyy'}}</td>
	                          	<td data-title="'Опции'" class="text-center" style="min-width: 100px">
	                            	 <a class="btn btn-sm btn-icon btn-warning"ui-sref="reception.patient.edit({ id: mc.id })"><i class="fa fa-pencil"></i></a>
	                            	 <a class="btn btn-sm btn-icon btn-danger" ng-click="callDeleteModal('medical_card', mc.id )"><i class="glyphicon glyphicon-trash"></i></a>
	                            </td>
	                          </tr>
	                     </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="custom/pager">
<div class="panel-body">
      <ul class="pager ng-cloak ng-table-pager">
		<div style="float: left"><li style="float: none"> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
		</li>
		</div>
		<div style="float: right">	
		<li style="float: none" ng-repeat="page in pages" ng-class="{'disabled ': !page.active}" ng-switch="page.type">
			<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
			<a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a> 
			<a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
			<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
		</li>
		</div>
       </ul>
</div>
</script>
