<div ng-controller="DoctorAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Добавить</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				          	
						<div class="row">
						    <div class="col-sm-9">
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Фамилия</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.surname">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Имя</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.name">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Отчество</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.middleName">
					              </div>
					            </div>
					            
					            
					            <div class="form-group">
						          <label class="col-lg-3 control-label">Дата рождения</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
											 <input ng-model="doctor.birthDate" type="text" class="form-control" datepicker-popup="{{commondatepicker.format}}" ng-model="dt" 
											 		is-open="commondatepicker.opened1" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" 
											 		ng-required="true" close-text="Close" />
										    <span class="input-group-btn">
										   		<button type="button" class="btn btn-default" ng-click="commondatepicker.open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
										   	</span>
									   	</p>
									</div>
						         </div>
						         
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Адрес</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.address">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Мобильный номер</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.mobilePhone">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Домашний номер</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.homeNumber">
					              </div>
					            </div>
					            
					            
								<div class="form-group">
					              <label class="col-lg-3 control-label">Cпециальность</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.speciality">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Стаж работы</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="" class="form-control" ng-model="doctor.workExperieince">
					              </div>
					            </div>
					            
					            <div class="form-group">
					              <label class="col-lg-3 control-label">Категория</label>
					               <div class='col-lg-9'>
					               		<select ng-model="doctor.doctorCategory.id" ng-required="true" class="form-control" select>
						              	<option value="">Выберите...</option>
						                <option ng-repeat="doctorCategory in doctorCategories" ng-value="doctorCategory.id">{{doctorCategory.name}}</option>
						           </select> 
					               </div>
					            </div>
					            
					            <div class="form-group">
						          <label class="col-lg-3 control-label">Срок окончание действия категории</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
											 <input ng-model="doctor.doctorCategoryDate" type="text" class="form-control" datepicker-popup="{{commondatepicker.format}}" ng-model="dt" 
											 		is-open="commondatepicker.opened2" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" 
											 		ng-required="true" close-text="Close" />
										    <span class="input-group-btn">
										   		<button type="button" class="btn btn-default" ng-click="commondatepicker.open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
										   	</span>
									   	</p>
									</div>
						         </div>
						         
						         <div class="form-group">
						          <label class="col-lg-3 control-label">Дата последнего специализации</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
											 <input ng-model="doctor.lastSpecialityDate" type="text" class="form-control" datepicker-popup="{{commondatepicker.format}}" ng-model="dt" 
											 		is-open="commondatepicker.opened3" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" 
											 		ng-required="true" close-text="Close" />
										    <span class="input-group-btn">
										   		<button type="button" class="btn btn-default" ng-click="commondatepicker.open($event, 'opened3')"><i class="glyphicon glyphicon-calendar"></i></button>
										   	</span>
									   	</p>
									</div>
						         </div>
						         
						         
						         <div class="form-group">
						          <label class="col-lg-3 control-label">Дата начала работы в КРЗ и ВРТ</label>
						            <div class="col-lg-9">
						            	<p class="input-group mydatepicker">
											 <input ng-model="doctor.employmentStartDate" type="text" class="form-control" datepicker-popup="{{commondatepicker.format}}" ng-model="dt" 
											 		is-open="commondatepicker.opened4" min-date="1925-09-01" max-date="'2020-06-22'" datepicker-options="commondatepicker.dateOptions" 
											 		ng-required="true" close-text="Close" />
										    <span class="input-group-btn">
										   		<button type="button" class="btn btn-default" ng-click="commondatepicker.open($event, 'opened4')"><i class="glyphicon glyphicon-calendar"></i></button>
										   	</span>
									   	</p>
									</div>
						         </div>					            
					            
				            <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					              </div>
					        </div>						          	
						    </div>				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>