<div ng-controller="ServiceAddCtrl">
 <div class="app-content-body ">
		<div class="bg-light lter b-b">
			<div class="wrapper-md ng-binding">
			      <div class="panel panel-default">
			        <div class="panel-heading font-bold">Добавить</div>
			        <div class="panel-body">
				        
				    	<form class="bs-example form-horizontal ng-pristine ng-valid" ng-submit="create()">
				          	
						<div class="row">
						    <div class="col-sm-6">
					             <div class="form-group">
					              <label class="col-lg-3 control-label">Название</label>
					              <div class="col-lg-9">
					                <input type="text" placeholder="Введите название" ng-required="true" class="form-control" ng-model="service.name">
					              </div>
					            </div>
					             <div class="form-group">
					              <label class="col-lg-3 control-label">Цена</label>
					              <div class="col-lg-9">
					                <input type="number" min="1" placeholder="Введите цену" ng-required="true" class="form-control" ng-model="service.price">
					              </div>
					            </div>
					            
					            
					            
					            
				            <div class="form-group">
					            <label class="col-lg-3 control-label"></label>
					              <div class="col-lg-9">
					                <button class="btn btn-sm btn-info" type="submit">Сохранить</button>
					              </div>
					        </div>						          	
						    </div>				    
						    </div>
						    
				          </form>
						    
				          
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>